    
        <div class="alert alert-success" role="alert" style="margin-left: 100px; width:350px;" opacity="0.1">
            <table>
                <tr>
                    <td>
                        <strong>Tu</strong>
                        <br>
                        <span class="text"> {{message}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="alert alert-warning" role="alert" style="margin-right: 10px; width:350px; background:#da79af; color:#000"opacity="0.1">
            <table>
                <tr>
                    <td>
                        <strong>May-Bot</strong>
                        <br>
                        <span class="text"> {{response}}</span>
                    </td>
                </tr>
            </table>
        </div>
