{% extends 'administrador/base.html' %}
{% load static %}

{% block title %}<title>Listado de Categorias</title>{% endblock title%}

{% block content %}

        <div class="container-fluid px-4">
            <h1 class="mt-4"></h1>
        </div>

        <!-- Seccion Tablas-->
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>Listado de Categorias
            </div>&nbsp;

            <div class="d-flex justify-content start">&nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" href="{% url 'crear_categoria' %}" ><i class="fa fa-plus" aria-hidden="true"></i> Nueva Categoria</a>&nbsp;
                {% comment %} <a class="btn btn-primary" href="{% url 'crear_subcategoria' %}" ><i class="fa fa-plus" aria-hidden="true"></i> Nueva Subcategoria</a>&nbsp; {% endcomment %}

            </div>


            <div class="card-body">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            
                            <th>Nombre</th>
                            <th>Gestionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in categorias %}
                        <tr>
                            
                            <td>{{ c.nombreCat }}</td>
                    
                            <td> <a href="{% url 'modificar_categoria' c.id %}"><i class="fa fa-pencil-square fa-2x" aria-hidden="true" style="font-size:24px;color:rgb(238, 204, 9);text-shadow:2px 2px 4px #000000;"></i></a>&nbsp;&nbsp;
                                 <a href="#" onclick="eliminarCategoria({{ c.id }})"><i class="fa fa-trash fa-2x" aria-hidden="true" style="font-size:24px;color:rgb(212, 10, 10);text-shadow:2px 2px 4px #000000;"></i></a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    <!-- Fin Seccion tablas-->
        
        
            <div class="container-fluid px-4">
                <h1 class="mt-4"></h1>
            </div>
            <!-- Seccion Tablas-->
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>Listado de Subcategorias
                </div>&nbsp;

                <div class="d-flex justify-content start">&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary" href="{% url 'crear_subcategoria' %}" ><i class="fa fa-plus" aria-hidden="true"></i> Nueva Subcategoria</a>&nbsp;

                </div>


                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>Gestionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in subcategorias %}
                            <tr>
                                
                                <td>{{ c.nombreSub }}</td>
                                <td>{{ c.categoria }}</td>
                        
                                <td> <a href="{% url 'modificar_subcategoria' c.id %}"><i class="fa fa-pencil-square fa-2x" aria-hidden="true" style="font-size:24px;color:rgb(238, 204, 9);text-shadow:2px 2px 4px #000000;"></i></a>&nbsp;&nbsp;
                                    <a href="#" onclick="eliminarSubcategoria({{ c.id }})"><i class="fa fa-minus-square fa-2x" aria-hidden="true" style="font-size:24px;color:rgb(212, 10, 10);text-shadow:2px 2px 4px #000000;"></i></a>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Fin Seccion tablas-->

{% endblock content%}

{% block js %}
    <script>
        function eliminarCategoria(id){
            Swal.fire({
                title: 'Estas seguro?',
                showCancelButton: true,
                confirmButtonText: 'Si, Eliminar',
                confirmButtonColor: '#FF0000',
                cancelButtonText: 'No, Cancelar',
                reverseButtons: true,

            }).then(function(result) {
                if (result.isConfirmed) {
                    window.location.href = "/administrador/borrarCategoria/"+id
                }
            })
        }

        function eliminarSubcategoria(id){
            Swal.fire({
                title: 'Estas seguro?',
                showCancelButton: true,
                confirmButtonText: 'Si, Eliminar',
                confirmButtonColor: '#FF0000',
                cancelButtonText: 'No, Cancelar',
                reverseButtons: true,

            }).then(function(result) {
                if (result.isConfirmed) {
                    window.location.href = "/administrador/borrarSubcategoria/"+id
                }
            })
        }
    </script>
{% endblock js%}