{% extends 'administrador/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}<title>Editar Producto</title>{% endblock title%}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Editar Producto: {{producto}}</h3></div>
                <div class="card-body">
                    <form method="post" role="form" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            {{form.nombreProd|as_crispy_field}}
                        </div>
                        <div class="form-floating mb-3">
                            {{form.coleccion|as_crispy_field}}
                        </div>
                        <div class="form-floating mb-3">
                            {{form.material|as_crispy_field}}
                        </div>
                        <div class="form-floating mb-3">
                            {{form.color|as_crispy_field}}
                        </div>
                        <div class="form-floating mb-3">
                            {{form.precio|as_crispy_field}}
                        </div>
                        <div class="form-floating mb-3">
                            {{form.existencias|as_crispy_field}}
                        </div>

                        <div class="form-floating mb-3">
                            {{form.categoria|as_crispy_field}}
                        </div>
                        <div class="form-floating mb-3">
                            {{form.subCategoria|as_crispy_field}}
                        </div>

                        <div class="form-floating mb-3">
                            {{form.imagen|as_crispy_field}}
                        </div>

                        <div class="form-floating mb-3" align="center">
                            <img src=" {{ producto.imagen.url }}" width="300" height="auto"/>
                            <h6> Imágen Actual </h6>
                        </div>


                        <div class="mt-4 mb-0" align="center">
                            {% comment %} <div class="d-grid"><input type="submit" value="Finalizar" class="btn btn-primary btn-block"></div> {% endcomment %}
                            <a class="btn btn-danger" href="{% url 'listar_productos' %}"><i class="fa fa-arrow-left"
                                aria-hidden="true"></i> Regresar</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-success float-right"><i class="fa fa-check"
                                aria-hidden="true"></i> Guardar</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"></div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    window.onload = getSubcategoriasEdit(); // Al cargar la página, que el select de Subcategoria esté vacío

// SELECT DEPENDIENTE PARA LAS SUBCATEGORIAS====================================
    $(document).ready(function(){
        $("#id_categoria").on("change", getSubcategorias);    
    });

    function getSubcategorias(){
        var categoriaId = $("#id_categoria").val();
        if (categoriaId){
            $("#id_subCategoria").html("");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'load_subcategorias' %}",
                data: {
                    "catId":categoriaId,
                },
            });
            request.done(function(response){
                $("#id_subCategoria").html(response);
               
            });
    
        }
    }
//===========================================================================

    function getSubcategoriasEdit(){
        var categoriaId = $("#id_categoria").val();
        var productoId = {{producto.pk}};
        if (categoriaId){
            $("#id_subCategoria").html("");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'load_subcategorias_Edit' %}",
                data: {
                    "catId":categoriaId,
                    "prodId":productoId,
                },
            });
            request.done(function(response){
                $("#id_subCategoria").html(response);
            
            });

        }
    }
</script>
 
{% endblock content %}